In [1]:
# Dependencies
import os
import numpy as np
import requests
import json
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import datetime as dt
import warnings
import random
warnings.filterwarnings('ignore')

In [2]:
#load 2019 prideroute zone file
rdata = pd.read_csv('prideroute.csv')
routedata=pd.DataFrame(rdata)
routedata

,LocationID,Borough,Zone,service_zone,prideroute
0,1,EWR,Newark Airport,EWR,NaN
1,2,Queens,Jamaica Bay,Boro Zone,NaN
2,3,Bronx,Allerton/Pelham Gardens,Boro Zone,NaN
3,4,Manhattan,Alphabet City,Yellow Zone,Y
4,5,Staten Island,Arden Heights,Boro Zone,NaN
...,...,...,...,...,...
260,261,Manhattan,World Trade Center,Yellow Zone,NaN
261,262,Manhattan,Yorkville East,Yellow Zone,NaN
262,263,Manhattan,Yorkville West,Yellow Zone,NaN
263,264,Unknown,NV,NaN,NaN
264,265,Unknown,NaN,NaN,NaN

In [3]:
#load 2019 june yellowcab trip data
data = pd.read_csv('yellow_tripdata_2019-06.csv')
tripdata=pd.DataFrame(data)

In [4]:
tripdata.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
1,1,2019-06-01 00:06:31,2019-06-01 00:06:52,1,0.0,1,N,262,263,2,2.5,3.0,0.5,0.00,0.0,0.3,6.30,2.5
2,1,2019-06-01 00:17:05,2019-06-01 00:36:38,1,4.4,1,N,74,7,2,17.5,0.5,0.5,0.00,0.0,0.3,18.80,0.0
3,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.8,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0
4,1,2019-06-01 00:03:25,2019-06-01 00:15:42,1,1.7,1,N,113,148,1,9.5,3.0,0.5,2.65,0.0,0.3,15.95,2.5

In [5]:
tdata=tripdata[(pd.to_datetime(tripdata["tpep_pickup_datetime"])>"2019-06-22")&(pd.to_datetime(tripdata["tpep_pickup_datetime"])<"2019-07-01")]
tdata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
599520,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,13.0,1.0,0.5,3.46,0.00,0.3,20.76,2.5
599521,2,2019-06-24 10:58:03,2019-06-24 11:08:39,1,1.63,1,N,230,142,1,8.5,1.0,0.5,1.50,0.00,0.3,14.30,2.5
599522,2,2019-06-24 11:14:35,2019-06-24 11:18:08,1,0.80,1,N,239,238,2,4.5,1.0,0.5,0.00,0.00,0.3,8.80,2.5
692228,2,2019-06-24 22:25:00,2019-06-24 22:40:32,6,8.53,1,N,237,138,1,25.0,0.5,0.5,6.98,6.12,0.3,41.90,2.5
694129,2,2019-06-24 22:59:13,2019-06-25 06:22:59,6,19.07,2,N,141,132,1,52.0,0.0,0.5,12.28,6.12,0.3,73.70,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6941019,1,2019-06-30 23:23:03,2019-06-30 23:39:48,1,0.90,1,N,68,158,1,11.0,3.0,0.5,2.00,0.00,0.3,16.80,2.5
6941020,1,2019-06-30 23:50:22,2019-06-30 23:57:01,1,0.50,1,N,246,90,2,6.0,3.0,0.5,0.00,0.00,0.3,9.80,2.5
6941021,1,2019-06-30 23:58:32,2019-07-01 00:00:42,1,0.20,1,N,90,186,1,3.5,3.0,0.5,1.45,0.00,0.3,8.75,2.5
6941022,2,2019-06-30 23:23:10,2019-06-30 23:30:45,1,1.38,1,N,140,163,1,7.5,0.5,0.5,2.26,0.00,0.3,13.56,2.5
6941023,2,2019-06-30 23:39:13,2019-06-30 23:44:56,2,1.77,1,N,142,151,1,7.0,0.5,0.5,1.00,0.00,0.3,11.80,2.5

In [6]:
filterdata=tdata.merge(routedata,left_on="PULocationID",right_on="LocationID")
#filter pickup locations in the range of parade route
filterdata.dropna(inplace=True)

In [7]:
# URL for GET requests to retrieve taxi zone matching data
with open('taxi_zones.json') as f:
    data = json.load(f)
matchdata=json.dumps(data)

In [8]:
data.keys()

dict_keys(['meta', 'data'])

In [9]:
zonedata={}
for zone in data["data"]:
    limit=len(zone[10].split(","))
    choice=random.randint(2,limit-2)
    long,lati=zone[10].split(",")[choice].split()
    lon=float(long)
    lat=float(lati)
    locid=int(zone[8])
    zonename=zone[12]
    zonedata[locid]=(locid,zonename,lon,lat)
zonedata

{1: (1, 'Newark Airport', -74.18438099999997, 40.69587799999989),
 2: (2, 'Jamaica Bay', -73.83542479353247, 40.61477237228094),
 3: (3, 'Allerton/Pelham Gardens', -73.84833709099988, 40.85870184799994),
 4: (4, 'Alphabet City', -73.97197685099988, 40.72683035599993),
 5: (5, 'Arden Heights', -74.18180816599994, 40.56538457899992),
 6: (6, 'Arrochar/Fort Wadsworth', -74.06831810799993, 40.59278576599994),
 7: (7, 'Astoria', -73.91763192900005, 40.75385784899993),
 8: (8, 'Astoria Park', -73.92557304281429, 40.77845885141435),
 9: (9, 'Auburndale', -73.79501312, 40.74373670699995),
 24: (24, 'Bloomingdale', -73.97171200727101, 40.80493169127652),
 10: (10, 'Baisley Park', -73.77469730199986, 40.680486045999906),
 11: (11, 'Bath Beach', -74.01090145053502, 40.600715559854),
 12: (12, 'Battery Park', -74.01430157023238, 40.70063221177271),
 13: (13, 'Battery Park City', -74.01804288218334, 40.70462817432251),
 18: (18, 'Bedford Park', -73.8846776199998, 40.87823547699989),
 25: (25, 'Boerum Hill', -73.97918390599997, 40.68312883799993),
 14: (14, 'Bay Ridge', -74.02259016799994, 40.64043910599985),
 15: (15, 'Bay Terrace/Fort Totten', -73.77757812464012, 40.79664705122795),
 22: (22, 'Bensonhurst West', -74.00171808600001, 40.60800297799994),
 23: (23, 'Bloomfield/Emerson Hill', -74.19787520651842, 40.59655675454946),
 16: (16, 'Bayside', -73.75811452099987, 40.76205389699988),
 17: (17, 'Bedford', -73.95128819399989, 40.700922364999876),
 19: (19, 'Bellerose', -73.71191821920186, 40.72704180707466),
 20: (20, 'Belmont', -73.88442861399994, 40.86680037899987),
 21: (21, 'Bensonhurst East', -73.99711670841539, 40.59144679034146),
 26: (26, 'Borough Park', -73.98673080599988, 40.64357399299989),
 27: (27,
  'Breezy Point/Fort Tilden/Riis Beach',
  -73.878687266263,
  40.568663448185056),
 28: (28, 'Briarwood/Jamaica Hills', -73.80613695999992, 40.70569149199989),
 33: (33, 'Brooklyn Heights', -73.99054474599986, 40.689168104999936),
 29: (29, 'Brighton Beach', -73.9603380369999, 40.58628108999995),
 31: (31, 'Bronx Park', -73.87004672699982, 40.87667053099995),
 32: (32, 'Bronxdale', -73.87053494699997, 40.86958170299988),
 30: (30, 'Broad Channel', -73.82394993688561, 40.59493279504595),
 34: (34, 'Brooklyn Navy Yard', -73.97279477799988, 40.69792083799993),
 35: (35, 'Brownsville', -73.92592201499984, 40.66571503599991),
 36: (36, 'Bushwick North', -73.90148893599996, 40.6915568839999),
 37: (37, 'Bushwick South', -73.89767194200002, 40.67996885399991),
 38: (38, 'Cambria Heights', -73.73396025399994, 40.68563856299993),
 39: (39, 'Canarsie', -73.88806001214776, 40.646553665216935),
 40: (40, 'Carroll Gardens', -73.99420802699993, 40.67615242699987),
 41: (41, 'Central Harlem', -73.95824878299987, 40.80310648599989),
 45: (45, 'Chinatown', -74.00366118299998, 40.711487282999954),
 46: (46, 'City Island', -73.77214547937614, 40.85475069709279),
 42: (42, 'Central Harlem North', -73.93899743399992, 40.82988885299995),
 43: (43, 'Central Park', -73.95253597599994, 40.798274645999896),
 44: (44, 'Charleston/Tottenville', -74.25428177080046, 40.509397124218005),
 47: (47, 'Claremont/Bathgate', -73.9045062189998, 40.8306249629999),
 48: (48, 'Clinton East', -73.99446824699999, 40.75590886199993),
 49: (49, 'Clinton Hill', -73.96018691899992, 40.6898034559999),
 50: (50, 'Clinton West', -73.99477407930827, 40.77192954753019),
 51: (51, 'Co-Op City', -73.83312947400005, 40.86826747399992),
 52: (52, 'Cobble Hill', -73.99555742799987, 40.68306853499997),
 53: (53, 'College Point', -73.8586117707735, 40.786130050277556),
 54: (54, 'Columbia Street', -74.00783293766679, 40.687385055162764),
 55: (55, 'Coney Island', -73.98744159488432, 40.579107291373404),
 56: (56, 'Corona', -73.86756253399983, 40.740941888999956),
 57: (57, 'Corona', -73.85151883499987, 40.751297136999916),
 58: (58, 'Country Club', -73.81184149221674, 40.84671412757344),
 59: (59, 'Crotona Park', -73.89526368299991, 40.83531509799996),
 60: (60, 'Crotona Park East', -73.87565111799996, 40.836659548999904),
 61: (61, 'Crown Heights North', -73.92250799299985, 40.68171006999997),
 62: (62, 'Crown Heights South', -73.9509741009999, 40.66390486799992),
 63: (63, 'Cypress Hills', -73.9026226229999, 40.6806645029999),
 64: (64, 'Douglaston', -73.75439497838661, 40.76876042077634),
 65: (65,
  'Downtown Brooklyn/MetroTech',
  -73.98972975399985,
  40.70073504399989),
 72: (72,
  'East Flatbush/Remsen Village',
  -73.91730801300002,
  40.646442904999944),
 66: (66, 'DUMBO/Vinegar Hill', -73.99193644899997, 40.701556408999856),
 67: (67, 'Dyker Heights', -74.02226919899991, 40.620109624999934),
 68: (68, 'East Chelsea', -73.99163271299996, 40.75470680499996),
 73: (73, 'East Flushing', -73.802749109, 40.748606750999954),
 69: (69,
  'East Concourse/Concourse Village',
  -73.90538358099985,
  40.839768982999914),
 70: (70, 'East Elmhurst', -73.86962970499988, 40.77100636599993),
 71: (71, 'East Flatbush/Farragut', -73.93055333099983, 40.63506291499989),
 79: (79, 'East Village', -73.98467780299995, 40.72173060499992),
 80: (80, 'East Williamsburg', -73.92168663599989, 40.71189431699987),
 74: (74, 'East Harlem North', -73.94775716499986, 40.79888833199987),
 85: (85, 'Erasmus', -73.95480071999985, 40.65056930299989),
 86: (86, 'Far Rockaway', -73.74786754387374, 40.59379812802525),
 75: (75, 'East Harlem South', -73.94011434323865, 40.785103824644665),
 76: (76, 'East New York', -73.85840315341014, 40.64700390123736),
 77: (77,
  'East New York/Pennsylvania Avenue',
  -73.88726131299987,
  40.664413573999866),
 78: (78, 'East Tremont', -73.88960978099986, 40.85362187999994),
 81: (81, 'Eastchester', -73.84273785199989, 40.879424902999894),
 87: (87, 'Financial District North', -74.00484062824778, 40.704639779526524),
 82: (82, 'Elmhurst', -73.88484260399989, 40.733933706999906),
 83: (83, 'Elmhurst/Maspeth', -73.89908954799988, 40.740657154999944),
 84: (84,
  "Eltingville/Annadale/Prince's Bay",
  -74.19202360017422,
  40.5128798989557),
 88: (88, 'Financial District South', -74.01355970574456, 40.70043893421369),
 89: (89, 'Flatbush/Ditmas Park', -73.96024902900002, 40.629370621999904),
 90: (90, 'Flatiron', -74.00201937799989, 40.740444088999894),
 125: (125, 'Hudson Sq', -74.00535249999994, 40.72189013499991),
 91: (91, 'Flatlands', -73.94078821499988, 40.6320758459999),
 92: (92, 'Flushing', -73.82462418799997, 40.781705824999925),
 93: (93,
  'Flushing Meadows-Corona Park',
  -73.84689366199993,
  40.738671216999904),
 94: (94, 'Fordham South', -73.89798099399988, 40.86240253999994),
 95: (95, 'Forest Hills', -73.84314625299982, 40.70922345599992),
 96: (96, 'Forest Park/Highland Park', -73.83743395899987, 40.70809301499986),
 97: (97, 'Fort Greene', -73.98206215699987, 40.69131209099992),
 98: (98, 'Fresh Meadows', -73.76937164099995, 40.745220308999876),
 99: (99, 'Freshkills Park', -74.21118996452417, 40.56076230109241),
 100: (100, 'Garment District', -73.99027621399986, 40.756567564999926),
 101: (101, 'Glen Oaks', -73.72351867199991, 40.7537214379999),
 102: (102, 'Glendale', -73.85824915999993, 40.70291693499992),
 103: (103,
  "Governor's Island/Ellis Island/Liberty Island",
  -74.04711581988163,
  40.69065580605927),
 104: (104,
  "Governor's Island/Ellis Island/Liberty Island",
  -74.04025555058615,
  40.69880482315377),
 105: (105,
  "Governor's Island/Ellis Island/Liberty Island",
  -74.01604730539512,
  40.68733800629772),
 106: (106, 'Gowanus', -73.98390048699991, 40.67614865299993),
 107: (107, 'Gramercy', -73.98131180499988, 40.74135092399991),
 108: (108, 'Gravesend', -73.97558819299998, 40.59671920599991),
 109: (109, 'Great Kills', -74.13818000999993, 40.55759386599989),
 110: (110, 'Great Kills Park', -74.13151307747665, 40.53771070573342),
 111: (111, 'Green-Wood Cemetery', -74.00214474599989, 40.65295610699996),
 112: (112, 'Greenpoint', -73.95418330299992, 40.72263642799991),
 113: (113, 'Greenwich Village North', -73.99171498799983, 40.73521530099993),
 114: (114, 'Greenwich Village South', -74.00269315099997, 40.72831405399993),
 115: (115, 'Grymes Hill/Clifton', -74.08520082199986, 40.63376239799988),
 116: (116, 'Hamilton Heights', -73.9515984038694, 40.83204708164592),
 117: (117, 'Hammels/Arverne', -73.77861593382974, 40.5979786632984),
 118: (118,
  'Heartland Village/Todt Hill',
  -74.10074056699987,
  40.592844566999894),
 119: (119, 'Highbridge', -73.92668910099991, 40.84505161199993),
 120: (120, 'Highbridge Park', -73.93580416699986, 40.8385049769999),
 149: (149, 'Madison', -73.93933968999978, 40.60738555999993),
 150: (150, 'Manhattan Beach', -73.94274060818059, 40.57559878801045),
 121: (121, 'Hillcrest/Pomonok', -73.80823529499995, 40.71723813199988),
 122: (122, 'Hollis', -73.77007984799988, 40.716327201999896),
 123: (123, 'Homecrest', -73.9708953839999, 40.60904971899988),
 124: (124, 'Howard Beach', -73.85774883373948, 40.65148988169545),
 126: (126, 'Hunts Point', -73.89985531773284, 40.80514737360609),
 127: (127, 'Inwood', -73.910672492682, 40.87103800475036),
 128: (128, 'Inwood Hill Park', -73.91739625419048, 40.874160243657684),
 129: (129, 'Jackson Heights', -73.89959808799998, 40.75623543799993),
 134: (134, 'Kew Gardens', -73.82795308, 40.70228996199991),
 151: (151, 'Manhattan Valley', -73.97394098366695, 40.801809025864046),
 130: (130, 'Jamaica', -73.79561668999996, 40.709753078999896),
 139: (139, 'Laurelton', -73.73505915299991, 40.67398974999989),
 131: (131, 'Jamaica Estates', -73.79030267399999, 40.7208914649999),
 132: (132, 'JFK Airport', -73.82524054970115, 40.64958828676116),
 133: (133, 'Kensington', -73.97431883499996, 40.63209057399993),
 140: (140, 'Lenox Hill East', -73.95845501771939, 40.75858090209874),
 135: (135, 'Kew Gardens Hills', -73.83628669399984, 40.735131366999966),
 136: (136, 'Kingsbridge Heights', -73.91279762128934, 40.86389887543283),
 137: (137, 'Kips Bay', -73.97204926316721, 40.7418877537763),
 141: (141, 'Lenox Hill West', -73.95503700499988, 40.769120065999864),
 142: (142, 'Lincoln Square East', -73.9853325459999, 40.77353064599993),
 152: (152, 'Manhattanville', -73.9616361359999, 40.81793985099996),
 138: (138, 'LaGuardia Airport', -73.86871414175994, 40.783718086052126),
 143: (143, 'Lincoln Square West', -73.9960512527533, 40.77406889580328),
 144: (144, 'Little Italy/NoLiTa', -73.99437745899998, 40.71951908899993),
 145: (145,
  'Long Island City/Hunters Point',
  -73.95980151741631,
  40.74432936858096),
 146: (146,
  'Long Island City/Queens Plaza',
  -73.93505987399978,
  40.75907122899988),
 147: (147, 'Longwood', -73.89708341799987, 40.81422434699991),
 148: (148, 'Lower East Side', -73.99480778999998, 40.71845742599988),
 153: (153, 'Marble Hill', -73.91274316499636, 40.87480241502598),
 154: (154,
  'Marine Park/Floyd Bennett Field',
  -73.92478465432619,
  40.59796997156951),
 155: (155, 'Marine Park/Mill Basin', -73.893932400722, 40.61153659672418),
 156: (156, 'Mariners Harbor', -74.15798759520317, 40.64386178898304),
 159: (159, 'Melrose South', -73.91782151699984, 40.823718370999885),
 157: (157, 'Maspeth', -73.9222376112434, 40.71638244049413),
 158: (158,
  'Meatpacking/West Village West',
  -74.01054441299988,
  40.7291000979999),
 160: (160, 'Middle Village', -73.89792419799988, 40.71678533099995),
 161: (161, 'Midtown Center', -73.98316796099988, 40.75614022199994),
 162: (162, 'Midtown East', -73.9665833839999, 40.76155093499988),
 163: (163, 'Midtown North', -73.9820588189999, 40.76764250299994),
 164: (164, 'Midtown South', -73.98088709899987, 40.75348098899989),
 170: (170, 'Murray Hill', -73.9758346669999, 40.74886314599998),
 165: (165, 'Midwood', -73.96322149299982, 40.62984106099988),
 166: (166, 'Morningside Heights', -73.9670411118029, 40.81152009962688),
 167: (167, 'Morrisania/Melrose', -73.91621588599988, 40.82346792999992),
 178: (178, 'Ocean Parkway South', -73.96739979599994, 40.60945960699996),
 168: (168, 'Mott Haven/Port Morris', -73.90676850092169, 40.80074671046322),
 169: (169, 'Mount Hope', -73.89967155800004, 40.85566890799991),
 171: (171, 'Murray Hill-Queens', -73.79785400499989, 40.77441566899992),
 172: (172, 'New Dorp/Midland Beach', -74.11978567499995, 40.5758155559999),
 173: (173, 'North Corona', -73.86790963899986, 40.7449337159999),
 174: (174, 'Norwood', -73.88188379899985, 40.86832083599991),
 175: (175, 'Oakland Gardens', -73.76176692899985, 40.75727880199986),
 179: (179, 'Old Astoria', -73.93107377146733, 40.777260594398136),
 176: (176, 'Oakwood', -74.13461855699988, 40.573197712999914),
 177: (177, 'Ocean Hill', -73.90549303499996, 40.680037157999934),
 180: (180, 'Ozone Park', -73.84583237399981, 40.68210644999987),
 181: (181, 'Park Slope', -73.97970643699993, 40.66126063599991),
 182: (182, 'Parkchester', -73.85719247999995, 40.842027647999906),
 183: (183, 'Pelham Bay', -73.82765823699988, 40.850274033999916),
 184: (184, 'Pelham Bay Park', -73.81915009199982, 40.84817017999989),
 185: (185, 'Pelham Parkway', -73.85882515999995, 40.858061356999876),
 186: (186,
  'Penn Station/Madison Sq West',
  -73.99574855599987,
  40.74905219599989),
 189: (189, 'Prospect Heights', -73.96039301899985, 40.67399860199987),
 190: (190, 'Prospect Park', -73.96314327899981, 40.67186010899995),
 187: (187, 'Port Richmond', -74.13046976799993, 40.6316763209999),
 188: (188,
  'Prospect-Lefferts Gardens',
  -73.94146260999986,
  40.65594424899995),
 191: (191, 'Queens Village', -73.74980987499995, 40.72974674999989),
 192: (192, 'Queensboro Hill', -73.82052281799989, 40.7483568499999),
 193: (193, 'Queensbridge/Ravenswood', -73.93503989699988, 40.76968230199992),
 194: (194, 'Randalls Island', -73.93105352803921, 40.78239659378324),
 196: (196, 'Rego Park', -73.86765927399983, 40.72266125599993),
 195: (195, 'Red Hook', -74.01791198226178, 40.67651046280194),
 203: (203, 'Rosedale', -73.72718272499995, 40.68359732999989),
 197: (197, 'Richmond Hill', -73.8170868249999, 40.70257033099989),
 198: (198, 'Ridgewood', -73.91048364399984, 40.71732796499988),
 199: (199, 'Rikers Island', -73.87887252713152, 40.79467360633401),
 212: (212, 'Soundview/Bruckner', -73.86718504299985, 40.825274542999935),
 213: (213, 'Soundview/Castle Hill', -73.8492490511082, 40.81077972051286),
 200: (200,
  'Riverdale/North Riverdale/Fieldston',
  -73.91288586402978,
  40.9075871205375),
 204: (204, 'Rossville/Woodrow', -74.21701386699995, 40.52912208399994),
 201: (201, 'Rockaway Park', -73.82321130220612, 40.58074496142335),
 202: (202, 'Roosevelt Island', -73.95559286286709, 40.75722280008675),
 205: (205, 'Saint Albans', -73.77408130199987, 40.68076015399987),
 206: (206,
  'Saint George/New Brighton',
  -74.07818273599995,
  40.63820992299987),
 207: (207,
  'Saint Michaels Cemetery/Woodside',
  -73.89557704399981,
  40.76382796799991),
 208: (208,
  'Schuylerville/Edgewater Park',
  -73.80702113005182,
  40.82541676744421),
 209: (209, 'Seaport', -74.00478782699994, 40.708401892999895),
 210: (210, 'Sheepshead Bay', -73.93043411755326, 40.59193279181264),
 211: (211, 'SoHo', -74.00142450999995, 40.71993719799993),
 214: (214, 'South Beach/Dongan Hills', -74.0736996934535, 40.57843498022362),
 215: (215, 'South Jamaica', -73.77863399799988, 40.69401378799992),
 216: (216, 'South Ozone Park', -73.83257747700002, 40.68580634599992),
 217: (217, 'South Williamsburg', -73.95255052799988, 40.70205166699994),
 218: (218,
  'Springfield Gardens North',
  -73.78434496299991,
  40.674696439999906),
 219: (219,
  'Springfield Gardens South',
  -73.73891022900001,
  40.66595449199986),
 225: (225, 'Stuyvesant Heights', -73.92429213299994, 40.69077335699992),
 220: (220,
  'Spuyten Duyvil/Kingsbridge',
  -73.89828904299992,
  40.890442980999914),
 224: (224,
  'Stuy Town/Peter Cooper Village',
  -73.97158604106335,
  40.72739693305272),
 226: (226, 'Sunnyside', -73.9245785228289, 40.72345967445595),
 221: (221, 'Stapleton', -74.07938896299991, 40.61888579499989),
 222: (222, 'Starrett City', -73.88624448913602, 40.64474582414522),
 223: (223, 'Steinway', -73.89177229676267, 40.776593521076656),
 227: (227, 'Sunset Park East', -74.00735636699996, 40.63416362699991),
 228: (228, 'Sunset Park West', -74.0056502595958, 40.66390033784382),
 229: (229,
  'Sutton Place/Turtle Bay North',
  -73.96802436899996,
  40.759578139999896),
 230: (230,
  'Times Sq/Theatre District',
  -73.98143351999995,
  40.763594359999914),
 231: (231, 'TriBeCa/Civic Center', -74.01450706139606, 40.720265906177275),
 239: (239, 'Upper West Side South', -73.98654378999994, 40.780657980999926),
 232: (232, 'Two Bridges/Seward Park', -73.97518850986295, 40.71450316072387),
 233: (233, 'UN/Turtle Bay South', -73.97135563409158, 40.743539649851975),
 234: (234, 'Union Sq', -73.98730154899981, 40.73890302599993),
 235: (235,
  'University Heights/Morris Heights',
  -73.91776041251106,
  40.85870809795827),
 236: (236, 'Upper East Side North', -73.9557773589999, 40.78791392399995),
 237: (237, 'Upper East Side South', -73.95825534899998, 40.772965336999896),
 238: (238, 'Upper West Side North', -73.98169328900003, 40.79041872799998),
 240: (240, 'Van Cortlandt Park', -73.86604065099993, 40.88443298199994),
 241: (241, 'Van Cortlandt Village', -73.89453048799989, 40.86614380899987),
 258: (258, 'Woodhaven', -73.86410096700003, 40.682372849999894),
 242: (242, 'Van Nest/Morris Park', -73.85553579799995, 40.84221948999987),
 245: (245, 'West Brighton', -74.10746323199996, 40.63843848799997),
 263: (263, 'Yorkville West', -73.94613091699998, 40.78131597799995),
 243: (243, 'Washington Heights North', -73.94552736155029, 40.85132147563915),
 244: (244, 'Washington Heights South', -73.93962603899988, 40.83279885299988),
 253: (253, 'Willets Point', -73.84045537199984, 40.75626729599989),
 246: (246,
  'West Chelsea/Hudson Yards',
  -74.00947559600826,
  40.75007515771968),
 247: (247, 'West Concourse', -73.93254883578302, 40.82259921675289),
 248: (248, 'West Farms/Bronx River', -73.87401051400002, 40.83731000499993),
 249: (249, 'West Village', -74.00618179699998, 40.734439131999885),
 257: (257, 'Windsor Terrace', -73.97267303599992, 40.65096372799994),
 250: (250,
  'Westchester Village/Unionport',
  -73.84016248431055,
  40.83906606578865),
 251: (251, 'Westerleigh', -74.14444741899989, 40.60801279699993),
 252: (252, 'Whitestone', -73.80464873976852, 40.79615919598311),
 254: (254, 'Williamsbridge/Olinville', -73.85651292399993, 40.87421779299995),
 255: (255,
  'Williamsburg (North Side)',
  -73.9498379229999,
  40.716938665999876),
 256: (256,
  'Williamsburg (South Side)',
  -73.96934894946878,
  40.71096061478666),
 259: (259, 'Woodlawn/Wakefield', -73.86224439564484, 40.9012677067675),
 260: (260, 'Woodside', -73.91443483199988, 40.74053105299989),
 261: (261, 'World Trade Center', -74.01534330799996, 40.70849681699987),
 262: (262, 'Yorkville East', -73.9421206009128, 40.7770090780741)}

In [10]:
zonedf=pd.DataFrame(zonedata).T
zonedf

       0                          1        2        3
1      1             Newark Airport -74.1844  40.6959
2      2                Jamaica Bay -73.8354  40.6148
3      3    Allerton/Pelham Gardens -73.8483  40.8587
4      4              Alphabet City  -73.972  40.7268
5      5              Arden Heights -74.1818  40.5654
..   ...                        ...      ...      ...
256  256  Williamsburg (South Side) -73.9693   40.711
259  259         Woodlawn/Wakefield -73.8622  40.9013
260  260                   Woodside -73.9144  40.7405
261  261         World Trade Center -74.0153  40.7085
262  262             Yorkville East -73.9421   40.777

[263 rows x 4 columns]

In [11]:
zonedf.rename(columns={0:"locid",1:"zone",2:"lat",3:"lon"},inplace=True)
zonedf

    locid                       zone      lat      lon
1       1             Newark Airport -74.1844  40.6959
2       2                Jamaica Bay -73.8354  40.6148
3       3    Allerton/Pelham Gardens -73.8483  40.8587
4       4              Alphabet City  -73.972  40.7268
5       5              Arden Heights -74.1818  40.5654
..    ...                        ...      ...      ...
256   256  Williamsburg (South Side) -73.9693   40.711
259   259         Woodlawn/Wakefield -73.8622  40.9013
260   260                   Woodside -73.9144  40.7405
261   261         World Trade Center -74.0153  40.7085
262   262             Yorkville East -73.9421   40.777

[263 rows x 4 columns]

In [12]:
pkjoindata=filterdata.merge(zonedf,left_on="PULocationID",right_on="locid")
pkjoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,congestion_surcharge,LocationID,Borough,Zone,service_zone,prideroute,locid,zone,lat,lon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
1,2,2019-06-22 00:00:16,2019-06-22 00:42:16,1,10.68,1,N,231,39,1,...,0.0,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
2,1,2019-06-22 00:25:43,2019-06-22 00:38:53,1,2.60,1,N,231,107,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
3,1,2019-06-22 00:46:18,2019-06-22 01:03:02,2,3.90,1,N,231,80,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
4,2,2019-06-22 00:04:09,2019-06-22 00:22:49,2,4.52,1,N,231,112,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635853,2,2019-06-30 23:04:47,2019-07-01 22:24:37,2,4.85,1,N,24,243,2,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049
635854,2,2019-06-30 23:03:57,2019-06-30 23:19:08,1,3.04,1,N,24,236,2,...,2.5,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049
635855,1,2019-06-30 23:03:26,2019-06-30 23:03:47,1,0.00,5,N,24,24,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049
635856,2,2019-06-30 23:06:41,2019-06-30 23:12:37,1,1.03,1,N,24,41,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049
635857,2,2019-06-30 23:02:55,2019-06-30 23:12:27,1,1.92,1,N,24,42,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049

In [13]:
pkjoindata.rename(columns={"zone":"pkzone","lat":"pklat","lon":"pklon"},inplace=True)
pkjoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,congestion_surcharge,LocationID,Borough,Zone,service_zone,prideroute,locid,pkzone,pklat,pklon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
1,2,2019-06-22 00:00:16,2019-06-22 00:42:16,1,10.68,1,N,231,39,1,...,0.0,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
2,1,2019-06-22 00:25:43,2019-06-22 00:38:53,1,2.60,1,N,231,107,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
3,1,2019-06-22 00:46:18,2019-06-22 01:03:02,2,3.90,1,N,231,80,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
4,2,2019-06-22 00:04:09,2019-06-22 00:22:49,2,4.52,1,N,231,112,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635853,2,2019-06-30 23:04:47,2019-07-01 22:24:37,2,4.85,1,N,24,243,2,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049
635854,2,2019-06-30 23:03:57,2019-06-30 23:19:08,1,3.04,1,N,24,236,2,...,2.5,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049
635855,1,2019-06-30 23:03:26,2019-06-30 23:03:47,1,0.00,5,N,24,24,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049
635856,2,2019-06-30 23:06:41,2019-06-30 23:12:37,1,1.03,1,N,24,41,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049
635857,2,2019-06-30 23:02:55,2019-06-30 23:12:27,1,1.92,1,N,24,42,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,-73.9717,40.8049

In [14]:
dojoindata=pkjoindata.merge(zonedf,left_on="DOLocationID",right_on="locid")
dojoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,zone,lat,lon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
1,2,2019-06-22 00:14:36,2019-06-22 00:36:08,5,3.39,1,N,231,161,2,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
2,2,2019-06-22 03:06:17,2019-06-22 03:20:26,2,6.18,1,N,231,161,2,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
3,1,2019-06-22 06:48:30,2019-06-22 06:56:51,1,3.70,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
4,2,2019-06-22 07:01:28,2019-06-22 07:11:04,1,3.57,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633777,2,2019-06-30 22:52:36,2019-06-30 23:38:32,1,15.29,1,N,90,184,1,...,Yellow Zone,Y,90,Flatiron,-74.002,40.7404,184,Pelham Bay Park,-73.8192,40.8482
633778,2,2019-06-28 22:46:47,2019-06-28 23:43:13,2,20.58,1,N,186,176,1,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,-73.9957,40.7491,176,Oakwood,-74.1346,40.5732
633779,1,2019-06-22 03:33:40,2019-06-22 04:20:36,1,18.20,1,N,246,176,1,...,Yellow Zone,Y,246,West Chelsea/Hudson Yards,-74.0095,40.7501,176,Oakwood,-74.1346,40.5732
633780,2,2019-06-26 21:44:47,2019-06-26 22:38:42,2,17.57,1,N,87,176,1,...,Yellow Zone,Y,87,Financial District North,-74.0048,40.7046,176,Oakwood,-74.1346,40.5732
633781,2,2019-06-28 07:36:58,2019-06-28 08:01:31,1,2.38,1,N,90,2,1,...,Yellow Zone,Y,90,Flatiron,-74.002,40.7404,2,Jamaica Bay,-73.8354,40.6148

In [15]:
dojoindata.rename(columns={"zone":"dozone","lat":"dolat","lon":"dolon"},inplace=True)
dojoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
1,2,2019-06-22 00:14:36,2019-06-22 00:36:08,5,3.39,1,N,231,161,2,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
2,2,2019-06-22 03:06:17,2019-06-22 03:20:26,2,6.18,1,N,231,161,2,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
3,1,2019-06-22 06:48:30,2019-06-22 06:56:51,1,3.70,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
4,2,2019-06-22 07:01:28,2019-06-22 07:11:04,1,3.57,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.0145,40.7203,161,Midtown Center,-73.9832,40.7561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633777,2,2019-06-30 22:52:36,2019-06-30 23:38:32,1,15.29,1,N,90,184,1,...,Yellow Zone,Y,90,Flatiron,-74.002,40.7404,184,Pelham Bay Park,-73.8192,40.8482
633778,2,2019-06-28 22:46:47,2019-06-28 23:43:13,2,20.58,1,N,186,176,1,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,-73.9957,40.7491,176,Oakwood,-74.1346,40.5732
633779,1,2019-06-22 03:33:40,2019-06-22 04:20:36,1,18.20,1,N,246,176,1,...,Yellow Zone,Y,246,West Chelsea/Hudson Yards,-74.0095,40.7501,176,Oakwood,-74.1346,40.5732
633780,2,2019-06-26 21:44:47,2019-06-26 22:38:42,2,17.57,1,N,87,176,1,...,Yellow Zone,Y,87,Financial District North,-74.0048,40.7046,176,Oakwood,-74.1346,40.5732
633781,2,2019-06-28 07:36:58,2019-06-28 08:01:31,1,2.38,1,N,90,2,1,...,Yellow Zone,Y,90,Flatiron,-74.002,40.7404,2,Jamaica Bay,-73.8354,40.6148

In [16]:
pridedata=dojoindata[(pd.to_datetime(dojoindata["tpep_pickup_datetime"])>"2019-06-30 16:00:00")&(pd.to_datetime(dojoindata["tpep_pickup_datetime"])<"2019-06-30 18:00:00")]

In [25]:
pridedata.sort_values(by=["tpep_pickup_datetime"],inplace=True)
pridedata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
814625,1,2019-06-30 16:00:03,2019-06-30 16:21:59,1,2.90,1,N,43,230,2,...,Yellow Zone,Y,43,Central Park,-73.9552,40.7994,230,Times Sq/Theatre District,-73.9809,40.7593
192061,2,2019-06-30 16:00:04,2019-06-30 16:05:15,6,0.80,1,N,137,162,2,...,Yellow Zone,Y,137,Kips Bay,-73.9759,40.7357,162,Midtown East,-73.9675,40.7602
531095,1,2019-06-30 16:00:04,2019-06-30 16:14:11,3,2.20,1,N,113,13,2,...,Yellow Zone,Y,113,Greenwich Village North,-73.9998,40.7333,13,Battery Park City,-74.0176,40.7047
74911,2,2019-06-30 16:00:04,2019-06-30 16:10:36,2,1.37,1,N,186,50,1,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,-73.9906,40.751,50,Clinton West,-74.0036,40.7638
148992,2,2019-06-30 16:00:08,2019-06-30 16:08:36,1,0.57,1,N,107,113,2,...,Yellow Zone,Y,107,Gramercy,-73.99,40.7351,113,Greenwich Village North,-73.9998,40.7333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46277,2,2019-06-30 17:59:54,2019-06-30 18:08:49,1,0.80,1,N,107,107,1,...,Yellow Zone,Y,107,Gramercy,-73.99,40.7351,107,Gramercy,-73.99,40.7351
854349,1,2019-06-30 17:59:54,2019-06-30 18:18:31,1,6.40,1,N,162,42,2,...,Yellow Zone,Y,162,Midtown East,-73.9675,40.7602,42,Central Harlem North,-73.9346,40.8286
438601,2,2019-06-30 17:59:56,2019-06-30 18:01:43,2,0.38,1,N,43,142,1,...,Yellow Zone,Y,43,Central Park,-73.9552,40.7994,142,Lincoln Square East,-73.9815,40.7683
36061,1,2019-06-30 17:59:56,2019-06-30 18:06:52,1,1.50,1,N,43,161,2,...,Yellow Zone,Y,43,Central Park,-73.9552,40.7994,161,Midtown Center,-73.9786,40.7624
518158,2,2019-06-30 17:59:56,2019-06-30 18:19:08,2,3.45,1,N,43,79,1,...,Yellow Zone,Y,43,Central Park,-73.9552,40.7994,79,East Village,-73.9849,40.7323

In [17]:
priorwkdata=dojoindata[(pd.to_datetime(dojoindata["tpep_pickup_datetime"])>"2019-06-23 16:00:00")&(pd.to_datetime(dojoindata["tpep_pickup_datetime"])<"2019-06-23 18:00:00")]
priorwkdata.sort_values(by=["tpep_pickup_datetime"],inplace=True)
priorwkdata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
37711,1,2019-06-23 16:00:02,2019-06-23 16:11:01,1,1.40,1,N,137,107,1,...,Yellow Zone,Y,137,Kips Bay,-73.972,40.7419,107,Gramercy,-73.9813,40.7414
71605,1,2019-06-23 16:00:02,2019-06-23 16:10:51,2,1.50,1,N,87,211,1,...,Yellow Zone,Y,87,Financial District North,-74.0048,40.7046,211,SoHo,-74.0014,40.7199
505293,1,2019-06-23 16:00:03,2019-06-23 16:02:14,1,0.40,1,N,186,164,1,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,-73.9957,40.7491,164,Midtown South,-73.9809,40.7535
140024,1,2019-06-23 16:00:04,2019-06-23 16:03:47,1,0.70,1,N,234,186,2,...,Yellow Zone,Y,234,Union Sq,-73.9873,40.7389,186,Penn Station/Madison Sq West,-73.9957,40.7491
208766,2,2019-06-23 16:00:04,2019-06-23 16:09:40,1,1.83,1,N,125,234,2,...,Yellow Zone,Y,125,Hudson Sq,-74.0054,40.7219,234,Union Sq,-73.9873,40.7389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64419,1,2019-06-23 17:59:54,2019-06-23 18:00:05,1,16.10,5,N,211,211,1,...,Yellow Zone,Y,211,SoHo,-74.0014,40.7199,211,SoHo,-74.0014,40.7199
221475,2,2019-06-23 17:59:55,2019-06-23 18:15:20,2,2.00,1,N,158,148,2,...,Yellow Zone,Y,158,Meatpacking/West Village West,-74.0105,40.7291,148,Lower East Side,-73.9948,40.7185
604607,1,2019-06-23 17:59:56,2019-06-23 18:15:22,1,2.20,1,N,158,100,1,...,Yellow Zone,Y,158,Meatpacking/West Village West,-74.0105,40.7291,100,Garment District,-73.9903,40.7566
106183,2,2019-06-23 17:59:56,2019-06-23 18:07:28,2,1.33,1,N,186,113,2,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,-73.9957,40.7491,113,Greenwich Village North,-73.9917,40.7352
205951,2,2019-06-23 17:59:58,2019-06-23 18:07:14,1,1.20,1,N,113,234,1,...,Yellow Zone,Y,113,Greenwich Village North,-73.9917,40.7352,234,Union Sq,-73.9873,40.7389

In [18]:
# Create Engine
engine = create_engine("sqlite:///trip.db", pool_pre_ping=True)

In [19]:
pridedata.to_sql('pridedata', con=engine, if_exists='replace')

In [20]:
test=pd.read_sql("SELECT * FROM pridedata",engine)

In [21]:
test

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
0,722,2,2019-06-30 16:12:46,2019-06-30 16:55:17,1,4.36,1,N,231,161,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.014507,40.720266,161,Midtown Center,-73.983168,40.756140
1,723,1,2019-06-30 17:37:51,2019-06-30 17:57:47,1,6.00,1,N,231,161,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.014507,40.720266,161,Midtown Center,-73.983168,40.756140
2,724,2,2019-06-30 17:27:49,2019-06-30 18:15:18,2,5.69,1,N,231,161,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.014507,40.720266,161,Midtown Center,-73.983168,40.756140
3,725,1,2019-06-30 17:46:26,2019-06-30 18:09:56,2,6.10,1,N,231,161,...,Yellow Zone,Y,231,TriBeCa/Civic Center,-74.014507,40.720266,161,Midtown Center,-73.983168,40.756140
4,2184,2,2019-06-30 16:09:58,2019-06-30 16:34:42,1,2.56,1,N,68,161,...,Yellow Zone,Y,68,East Chelsea,-73.991633,40.754707,161,Midtown Center,-73.983168,40.756140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3927,632901,1,2019-06-30 16:21:04,2019-06-30 17:13:56,1,14.30,1,N,211,200,...,Yellow Zone,Y,211,SoHo,-74.001425,40.719937,200,Riverdale/North Riverdale/Fieldston,-73.912886,40.907587
3928,632910,1,2019-06-30 17:10:52,2019-06-30 17:57:03,1,0.00,1,N,107,200,...,Yellow Zone,Y,107,Gramercy,-73.981312,40.741351,200,Riverdale/North Riverdale/Fieldston,-73.912886,40.907587
3929,633233,2,2019-06-30 16:44:49,2019-06-30 17:14:44,1,14.05,1,N,107,31,...,Yellow Zone,Y,107,Gramercy,-73.981312,40.741351,31,Bronx Park,-73.870047,40.876671
3930,633601,2,2019-06-30 16:51:30,2019-06-30 17:43:59,1,11.69,1,N,249,192,...,Yellow Zone,Y,249,West Village,-74.006182,40.734439,192,Queensboro Hill,-73.820523,40.748357
3931,633694,2,2019-06-30 16:38:43,2019-06-30 17:16:52,1,17.08,1,N,79,64,...,Yellow Zone,Y,79,East Village,-73.984678,40.721731,64,Douglaston,-73.754395,40.768760

In [22]:
priorwkdata.to_sql('priorwkdata', con=engine, if_exists='replace')

In [23]:
test2=pd.read_sql("SELECT * FROM priorwkdata",engine)

In [24]:
test2

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
0,37711,1,2019-06-23 16:00:02,2019-06-23 16:11:01,1,1.40,1,N,137,107,...,Yellow Zone,Y,137,Kips Bay,-73.972049,40.741888,107,Gramercy,-73.981312,40.741351
1,71605,1,2019-06-23 16:00:02,2019-06-23 16:10:51,2,1.50,1,N,87,211,...,Yellow Zone,Y,87,Financial District North,-74.004841,40.704640,211,SoHo,-74.001425,40.719937
2,505293,1,2019-06-23 16:00:03,2019-06-23 16:02:14,1,0.40,1,N,186,164,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,-73.995749,40.749052,164,Midtown South,-73.980887,40.753481
3,140024,1,2019-06-23 16:00:04,2019-06-23 16:03:47,1,0.70,1,N,234,186,...,Yellow Zone,Y,234,Union Sq,-73.987302,40.738903,186,Penn Station/Madison Sq West,-73.995749,40.749052
4,208766,2,2019-06-23 16:00:04,2019-06-23 16:09:40,1,1.83,1,N,125,234,...,Yellow Zone,Y,125,Hudson Sq,-74.005352,40.721890,234,Union Sq,-73.987302,40.738903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7297,64419,1,2019-06-23 17:59:54,2019-06-23 18:00:05,1,16.10,5,N,211,211,...,Yellow Zone,Y,211,SoHo,-74.001425,40.719937,211,SoHo,-74.001425,40.719937
7298,221475,2,2019-06-23 17:59:55,2019-06-23 18:15:20,2,2.00,1,N,158,148,...,Yellow Zone,Y,158,Meatpacking/West Village West,-74.010544,40.729100,148,Lower East Side,-73.994808,40.718457
7299,604607,1,2019-06-23 17:59:56,2019-06-23 18:15:22,1,2.20,1,N,158,100,...,Yellow Zone,Y,158,Meatpacking/West Village West,-74.010544,40.729100,100,Garment District,-73.990276,40.756568
7300,106183,2,2019-06-23 17:59:56,2019-06-23 18:07:28,2,1.33,1,N,186,113,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,-73.995749,40.749052,113,Greenwich Village North,-73.991715,40.735215
7301,205951,2,2019-06-23 17:59:58,2019-06-23 18:07:14,1,1.20,1,N,113,234,...,Yellow Zone,Y,113,Greenwich Village North,-73.991715,40.735215,234,Union Sq,-73.987302,40.738903