In [1]:
# Dependencies
import os
import numpy as np
import requests
import json
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import datetime as dt
import warnings
import random
warnings.filterwarnings('ignore')

In [2]:
#load 2019 prideroute zone file
rdata = pd.read_csv('prideroute.csv')
routedata=pd.DataFrame(rdata)
routedata

,LocationID,Borough,Zone,service_zone,prideroute
0,1,EWR,Newark Airport,EWR,NaN
1,2,Queens,Jamaica Bay,Boro Zone,NaN
2,3,Bronx,Allerton/Pelham Gardens,Boro Zone,NaN
3,4,Manhattan,Alphabet City,Yellow Zone,Y
4,5,Staten Island,Arden Heights,Boro Zone,NaN
...,...,...,...,...,...
260,261,Manhattan,World Trade Center,Yellow Zone,NaN
261,262,Manhattan,Yorkville East,Yellow Zone,NaN
262,263,Manhattan,Yorkville West,Yellow Zone,NaN
263,264,Unknown,NV,NaN,NaN
264,265,Unknown,NaN,NaN,NaN

In [3]:
#load 2019 june yellowcab trip data
data = pd.read_csv('yellow_tripdata_2019-06.csv')
tripdata=pd.DataFrame(data)

In [4]:
tripdata.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
1,1,2019-06-01 00:06:31,2019-06-01 00:06:52,1,0.0,1,N,262,263,2,2.5,3.0,0.5,0.00,0.0,0.3,6.30,2.5
2,1,2019-06-01 00:17:05,2019-06-01 00:36:38,1,4.4,1,N,74,7,2,17.5,0.5,0.5,0.00,0.0,0.3,18.80,0.0
3,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.8,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0
4,1,2019-06-01 00:03:25,2019-06-01 00:15:42,1,1.7,1,N,113,148,1,9.5,3.0,0.5,2.65,0.0,0.3,15.95,2.5

In [5]:
tdata=tripdata[(pd.to_datetime(tripdata["tpep_pickup_datetime"])>"2019-06-22")&(pd.to_datetime(tripdata["tpep_pickup_datetime"])<"2019-07-01")]
tdata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
599520,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,13.0,1.0,0.5,3.46,0.00,0.3,20.76,2.5
599521,2,2019-06-24 10:58:03,2019-06-24 11:08:39,1,1.63,1,N,230,142,1,8.5,1.0,0.5,1.50,0.00,0.3,14.30,2.5
599522,2,2019-06-24 11:14:35,2019-06-24 11:18:08,1,0.80,1,N,239,238,2,4.5,1.0,0.5,0.00,0.00,0.3,8.80,2.5
692228,2,2019-06-24 22:25:00,2019-06-24 22:40:32,6,8.53,1,N,237,138,1,25.0,0.5,0.5,6.98,6.12,0.3,41.90,2.5
694129,2,2019-06-24 22:59:13,2019-06-25 06:22:59,6,19.07,2,N,141,132,1,52.0,0.0,0.5,12.28,6.12,0.3,73.70,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6941019,1,2019-06-30 23:23:03,2019-06-30 23:39:48,1,0.90,1,N,68,158,1,11.0,3.0,0.5,2.00,0.00,0.3,16.80,2.5
6941020,1,2019-06-30 23:50:22,2019-06-30 23:57:01,1,0.50,1,N,246,90,2,6.0,3.0,0.5,0.00,0.00,0.3,9.80,2.5
6941021,1,2019-06-30 23:58:32,2019-07-01 00:00:42,1,0.20,1,N,90,186,1,3.5,3.0,0.5,1.45,0.00,0.3,8.75,2.5
6941022,2,2019-06-30 23:23:10,2019-06-30 23:30:45,1,1.38,1,N,140,163,1,7.5,0.5,0.5,2.26,0.00,0.3,13.56,2.5
6941023,2,2019-06-30 23:39:13,2019-06-30 23:44:56,2,1.77,1,N,142,151,1,7.0,0.5,0.5,1.00,0.00,0.3,11.80,2.5

In [6]:
filterdata=tdata.merge(routedata,left_on="PULocationID",right_on="LocationID")
#filter pickup locations in the range of parade route
filterdata.dropna(inplace=True)

In [7]:
# URL for GET requests to retrieve taxi zone matching data
with open('taxi_zones.json') as f:
    data = json.load(f)
matchdata=json.dumps(data)

In [8]:
data.keys()

dict_keys(['meta', 'data'])

In [9]:
coordata=data["data"][0][10].split(",")[1:-1]
coordata
lat_list=[]
lon_list=[]
for i in coordata:
    lat_text,lon_text=i.split()
    lat_list.append(float(lat_text))
    lon_list.append(float(lon_text))
avg_lat=sum(lat_list)/len(lat_list)
avg_lon=sum(lon_list)/len(lon_list)

In [10]:
zonedata={}
for zone in data["data"]:
#     limit=len(zone[10].split(","))
#     choice=random.randint(2,limit-2)    
#     long,lati=zone[10].split(",")[choice].split()
#     lon=float(long)
#     lat=float(lati)
    coordata=zone[10].split(",")[1:-1]
    lat_list=[]
    lon_list=[]
    for i in coordata:
        lat_text,lon_text=i.split()
        lat_list.append(float(lat_text.replace("((","")))
        lon_list.append(float(lon_text.replace("))","")))
    lat=sum(lat_list)/len(lat_list)
    lon=sum(lon_list)/len(lon_list)
    locid=int(zone[8])
    zonename=zone[12]
    zonedata[locid]=(locid,zonename,lon,lat)
zonedata

{1: (1, 'Newark Airport', 40.690201973912934, -74.1741817304347),
 2: (2, 'Jamaica Bay', 40.61216378184014, -73.81762424077051),
 3: (3, 'Allerton/Pelham Gardens', 40.86417558133605, -73.84648606037803),
 4: (4, 'Alphabet City', 40.72380737920437, -73.97528897228976),
 5: (5, 'Arden Heights', 40.556607934791565, -74.18998814538088),
 6: (6, 'Arrochar/Fort Wadsworth', 40.601109625990055, -74.07180547285517),
 7: (7, 'Astoria', 40.76136529894991, -73.91953425290545),
 8: (8, 'Astoria Park', 40.778232625414546, -73.92339874044116),
 9: (9, 'Auburndale', 40.75018763597315, -73.79024358667372),
 24: (24, 'Bloomingdale', 40.803115923680885, -73.96806728115648),
 10: (10, 'Baisley Park', 40.67777509794184, -73.7904084173483),
 11: (11, 'Bath Beach', 40.60268561333668, -74.00916940577049),
 12: (12, 'Battery Park', 40.70205428849489, -74.01547496482763),
 13: (13, 'Battery Park City', 40.70934000227755, -74.01736563996842),
 18: (18, 'Bedford Park', 40.86891632973801, -73.88945423604756),
 25: (25, 'Boerum Hill', 40.68651128891036, -73.98606010119396),
 14: (14, 'Bay Ridge', 40.625077960830296, -74.02921625955247),
 15: (15, 'Bay Terrace/Fort Totten', 40.790976813402345, -73.77861005710791),
 22: (22, 'Bensonhurst West', 40.608577744945656, -73.99584633430776),
 23: (23, 'Bloomfield/Emerson Hill', 40.60458199407074, -74.19050491355314),
 16: (16, 'Bayside', 40.76271190849507, -73.76796866559553),
 17: (17, 'Bedford', 40.692248527558235, -73.95043704626657),
 19: (19, 'Bellerose', 40.734484313187416, -73.72893856235154),
 20: (20, 'Belmont', 40.85883042458756, -73.88539699687621),
 21: (21, 'Bensonhurst East', 40.596754066348545, -73.99061002558041),
 26: (26, 'Borough Park', 40.63056965124992, -73.98802420218743),
 27: (27,
  'Breezy Point/Fort Tilden/Riis Beach',
  40.561291047483024,
  -73.89083976828294),
 28: (28, 'Briarwood/Jamaica Hills', 40.71227471368492, -73.80712988171992),
 33: (33, 'Brooklyn Heights', 40.69685827310847, -73.99549003655694),
 29: (29, 'Brighton Beach', 40.57989066977616, -73.96051331279101),
 31: (31, 'Bronx Park', 40.860347061807154, -73.87517443121679),
 32: (32, 'Bronxdale', 40.8621996819896, -73.86555114692771),
 30: (30, 'Broad Channel', 40.60282512653244, -73.8229057157433),
 34: (34, 'Brooklyn Navy Yard', 40.70266363093327, -73.97414936998183),
 35: (35, 'Brownsville', 40.664015333893936, -73.9104517881125),
 36: (36, 'Bushwick North', 40.69919447265239, -73.91689507937582),
 37: (37, 'Bushwick South', 40.695394299234735, -73.92385099470452),
 38: (38, 'Cambria Heights', 40.69497943520025, -73.73551812483845),
 39: (39, 'Canarsie', 40.642467531898795, -73.89171090490527),
 40: (40, 'Carroll Gardens', 40.67779495884516, -73.99658834777374),
 41: (41, 'Central Harlem', 40.80316975353722, -73.95065779868648),
 45: (45, 'Chinatown', 40.71152960927779, -73.99805766741511),
 46: (46, 'City Island', 40.85027061682678, -73.78585040740981),
 42: (42, 'Central Harlem North', 40.82632290262571, -73.93709166855008),
 43: (43, 'Central Park', 40.78176454341076, -73.96640382016268),
 44: (44, 'Charleston/Tottenville', 40.5299142331796, -74.23737195235444),
 47: (47, 'Claremont/Bathgate', 40.84306444409582, -73.90060270712321),
 48: (48, 'Clinton East', 40.76164081879992, -73.99072661631993),
 49: (49, 'Clinton Hill', 40.69012809992697, -73.96139812319782),
 50: (50, 'Clinton West', 40.767767975469084, -73.99748370729948),
 51: (51, 'Co-Op City', 40.87565364655037, -73.83054398515587),
 52: (52, 'Cobble Hill', 40.68675567194278, -73.99626039868562),
 53: (53, 'College Point', 40.78322862071029, -73.85105898444166),
 54: (54, 'Columbia Street', 40.68747092520873, -74.00369478889571),
 55: (55, 'Coney Island', 40.57535945568772, -73.98797237789772),
 56: (56, 'Corona', 40.740623794962396, -73.85668329238737),
 57: (57, 'Corona', 40.75227296411991, -73.85349109307992),
 58: (58, 'Country Club', 40.84397992071878, -73.81521392618167),
 59: (59, 'Crotona Park', 40.83791201277933, -73.89521671630874),
 60: (60, 'Crotona Park East', 40.83521901898445, -73.88348414003087),
 61: (61, 'Crown Heights North', 40.67499487852298, -73.9356782925153),
 62: (62, 'Crown Heights South', 40.666280324449914, -73.9469009976499),
 63: (63, 'Cypress Hills', 40.68091306677949, -73.8847669224139),
 64: (64, 'Douglaston', 40.76260924317593, -73.7486412401198),
 65: (65,
  'Downtown Brooklyn/MetroTech',
  40.69579832005295,
  -73.98520942422715),
 72: (72, 'East Flatbush/Remsen Village', 40.6524610234143, -73.9215047482071),
 66: (66, 'DUMBO/Vinegar Hill', 40.703099828480596, -73.98778752287015),
 67: (67, 'Dyker Heights', 40.6172007788771, -74.0151135178508),
 68: (68, 'East Chelsea', 40.74848358297006, -74.00050961888054),
 73: (73, 'East Flushing', 40.75300468745046, -73.80742161096693),
 69: (69,
  'East Concourse/Concourse Village',
  40.83063035620563,
  -73.91516948610278),
 70: (70, 'East Elmhurst', 40.763310438601756, -73.86599594519437),
 71: (71, 'East Flatbush/Farragut', 40.642509834359906, -73.9360410563399),
 79: (79, 'East Village', 40.72694247045606, -73.98658180987711),
 80: (80, 'East Williamsburg', 40.71501410594661, -73.93081941901234),
 74: (74, 'East Harlem North', 40.80457516673471, -73.93403301290772),
 85: (85, 'Erasmus', 40.645412912431276, -73.95207344705874),
 86: (86, 'Far Rockaway', 40.602706438194204, -73.75754949595658),
 75: (75, 'East Harlem South', 40.78820692957096, -73.9418888791911),
 76: (76, 'East New York', 40.65474261375692, -73.87552119788643),
 77: (77,
  'East New York/Pennsylvania Avenue',
  40.666934782189394,
  -73.89478297557886),
 78: (78, 'East Tremont', 40.84368021031139, -73.88110976087971),
 81: (81, 'Eastchester', 40.881596770803874, -73.83107711109704),
 87: (87, 'Financial District North', 40.70460578099913, -74.00557119826959),
 82: (82, 'Elmhurst', 40.737146398039044, -73.87962302926942),
 83: (83, 'Elmhurst/Maspeth', 40.73782855281536, -73.8928957808068),
 84: (84,
  "Eltingville/Annadale/Prince's Bay",
  40.52050623162663,
  -74.1926295348163),
 88: (88, 'Financial District South', 40.701240340497456, -74.01182960275155),
 89: (89, 'Flatbush/Ditmas Park', 40.636959210451295, -73.96221492303465),
 90: (90, 'Flatiron', 40.74248481482133, -73.99682092189279),
 125: (125, 'Hudson Sq', 40.725680111221735, -74.00911029746861),
 91: (91, 'Flatlands', 40.627981686236886, -73.92949302005194),
 92: (92, 'Flushing', 40.76016544546366, -73.82767431747502),
 93: (93,
  'Flushing Meadows-Corona Park',
  40.74746721227443,
  -73.84586122872079),
 94: (94, 'Fordham South', 40.858588586142794, -73.89890540589994),
 95: (95, 'Forest Hills', 40.72108355471499, -73.84475994135184),
 96: (96, 'Forest Park/Highland Park', 40.69974130972009, -73.86440489851098),
 97: (97, 'Fort Greene', 40.69150029768172, -73.97776282134535),
 98: (98, 'Fresh Meadows', 40.73190909077943, -73.77499022991726),
 99: (99, 'Freshkills Park', 40.568195455221456, -74.20324433774333),
 100: (100, 'Garment District', 40.75364164273904, -73.98883966508689),
 101: (101, 'Glen Oaks', 40.74643736770726, -73.71580518994276),
 102: (102, 'Glendale', 40.701744476831145, -73.87732894959993),
 103: (103,
  "Governor's Island/Ellis Island/Liberty Island",
  40.69033686266599,
  -74.0458540844969),
 104: (104,
  "Governor's Island/Ellis Island/Liberty Island",
  40.69938891275557,
  -74.04062989566793),
 105: (105,
  "Governor's Island/Ellis Island/Liberty Island",
  40.68998886942117,
  -74.01696001030601),
 106: (106, 'Gowanus', 40.67365978684081, -73.99200497720446),
 107: (107, 'Gramercy', 40.73690225561102, -73.98433896096289),
 108: (108, 'Gravesend', 40.586484383727914, -73.9887457814957),
 109: (109, 'Great Kills', 40.54301124317117, -74.14351157324391),
 110: (110, 'Great Kills Park', 40.54033004164844, -74.13002181340966),
 111: (111, 'Green-Wood Cemetery', 40.6527496606499, -73.99043759394992),
 112: (112, 'Greenpoint', 40.73440232692672, -73.95048464939913),
 113: (113, 'Greenwich Village North', 40.732155679885615, -73.99436466134276),
 114: (114, 'Greenwich Village South', 40.72780635417492, -73.9971831976499),
 115: (115, 'Grymes Hill/Clifton', 40.61884042537255, -74.08450988161317),
 116: (116, 'Hamilton Heights', 40.827912791674386, -73.95094593878756),
 117: (117, 'Hammels/Arverne', 40.59682267167091, -73.79132258437654),
 118: (118,
  'Heartland Village/Todt Hill',
  40.58846261604546,
  -74.12850807028309),
 119: (119, 'Highbridge', 40.837837551702535, -73.92628581485206),
 120: (120, 'Highbridge Park', 40.84478231098332, -73.93137010881124),
 149: (149, 'Madison', 40.60542080156168, -73.94649741831455),
 150: (150, 'Manhattan Beach', 40.58123460901223, -73.94126595025385),
 121: (121, 'Hillcrest/Pomonok', 40.728266649198034, -73.80541733680637),
 122: (122, 'Hollis', 40.710278458787776, -73.76415723649487),
 123: (123, 'Homecrest', 40.59790298583536, -73.96477723587334),
 124: (124, 'Howard Beach', 40.655346365522625, -73.84736443710887),
 126: (126, 'Hunts Point', 40.80727544218827, -73.88914232763138),
 127: (127, 'Inwood', 40.862590824179385, -73.91748703570089),
 128: (128, 'Inwood Hill Park', 40.87464483109589, -73.92136873871208),
 129: (129, 'Jackson Heights', 40.75940571176832, -73.88730121881571),
 134: (134, 'Kew Gardens', 40.70851757595596, -73.83171644258235),
 151: (151, 'Manhattan Valley', 40.79956152967088, -73.9712214957672),
 130: (130, 'Jamaica', 40.70610300785796, -73.79065645872215),
 139: (139, 'Laurelton', 40.67653923499992, -73.74513069223326),
 131: (131, 'Jamaica Estates', 40.71952734013728, -73.77782739621075),
 132: (132, 'JFK Airport', 40.63905773250762, -73.78374255411677),
 133: (133, 'Kensington', 40.6405500181756, -73.97646462152694),
 140: (140, 'Lenox Hill East', 40.76407076587428, -73.95563441670154),
 135: (135, 'Kew Gardens Hills', 40.72779242846119, -73.82080675777779),
 136: (136, 'Kingsbridge Heights', 40.86508769249685, -73.90785975283956),
 137: (137, 'Kips Bay', 40.737859502135336, -73.97383758381197),
 141: (141, 'Lenox Hill West', 40.765840766980666, -73.96004864828836),
 142: (142, 'Lincoln Square East', 40.771404612582195, -73.98231666165819),
 152: (152, 'Manhattanville', 40.819598481675484, -73.95617795583986),
 138: (138, 'LaGuardia Airport', 40.77460530162151, -73.87278820400923),
 143: (143, 'Lincoln Square West', 40.77634558197551, -73.99016952318176),
 144: (144, 'Little Italy/NoLiTa', 40.721204030756674, -73.99672191043234),
 145: (145,
  'Long Island City/Hunters Point',
  40.74248688502819,
  -73.95491536687302),
 146: (146,
  'Long Island City/Queens Plaza',
  40.753240308181724,
  -73.93576146201508),
 147: (147, 'Longwood', 40.819494241399916, -73.89867058687683),
 148: (148, 'Lower East Side', 40.71820921174992, -73.99141656122052),
 153: (153, 'Marble Hill', 40.87455892701099, -73.91186426954606),
 154: (154,
  'Marine Park/Floyd Bennett Field',
  40.59456376167058,
  -73.91474074908842),
 155: (155, 'Marine Park/Mill Basin', 40.61323838584372, -73.90199540281378),
 156: (156, 'Mariners Harbor', 40.64078509592097, -74.17392881840337),
 159: (159, 'Melrose South', 40.819860155367245, -73.91347267382304),
 157: (157, 'Maspeth', 40.72342007742477, -73.90396051997529),
 158: (158,
  'Meatpacking/West Village West',
  40.73683577624898,
  -74.01051804172069),
 160: (160, 'Middle Village', 40.719283067808405, -73.88311741624992),
 161: (161, 'Midtown Center', 40.75788899508326, -73.97746099874992),
 162: (162, 'Midtown East', 40.75657342693608, -73.97268455389354),
 163: (163, 'Midtown North', 40.76545214411895, -73.97863289030946),
 164: (164, 'Midtown South', 40.7487672889999, -73.98480534133324),
 170: (170, 'Murray Hill', 40.74753319629082, -73.97853123018172),
 165: (165, 'Midwood', 40.6215553335999, -73.95817891515547),
 166: (166, 'Morningside Heights', 40.81060447875203, -73.96373243112552),
 167: (167, 'Morrisania/Melrose', 40.82560297657659, -73.90512006349687),
 178: (178, 'Ocean Parkway South', 40.617615954885615, -73.97152440855703),
 168: (168, 'Mott Haven/Port Morris', 40.8042513130908, -73.9120771163517),
 169: (169, 'Mount Hope', 40.847971452329034, -73.90656632551892),
 171: (171, 'Murray Hill-Queens', 40.76801111304192, -73.80782532570576),
 172: (172, 'New Dorp/Midland Beach', 40.56888929561996, -74.10481479342047),
 173: (173, 'North Corona', 40.75406539463004, -73.86162466198623),
 174: (174, 'Norwood', 40.878590972630676, -73.88208154334608),
 175: (175, 'Oakland Gardens', 40.74352621882989, -73.7552502615222),
 179: (179, 'Old Astoria', 40.772278272864966, -73.93006452287136),
 176: (176, 'Oakwood', 40.56447076917018, -74.12135490134243),
 177: (177, 'Ocean Hill', 40.677048423904964, -73.91214532861389),
 180: (180, 'Ozone Park', 40.6761663589799, -73.84867512393996),
 181: (181, 'Park Slope', 40.67080580053979, -73.98072972906739),
 182: (182, 'Parkchester', 40.83720523175853, -73.85877103701716),
 183: (183, 'Pelham Bay', 40.84953982609991, -73.8309422516285),
 184: (184, 'Pelham Bay Park', 40.862235714848985, -73.79653577758347),
 185: (185, 'Pelham Parkway', 40.85431606264056, -73.85315690641396),
 186: (186,
  'Penn Station/Madison Sq West',
  40.74887243209083,
  -73.99209295595443),
 189: (189, 'Prospect Heights', 40.67679925063282, -73.96831892758219),
 190: (190, 'Prospect Park', 40.66104725419472, -73.9726927628668),
 187: (187, 'Port Richmond', 40.63265069434438, -74.13616578391759),
 188: (188, 'Prospect-Lefferts Gardens', 40.65861418086199, -73.9478798501838),
 191: (191, 'Queens Village', 40.716862895321896, -73.74254507472541),
 192: (192, 'Queensboro Hill', 40.74401232752315, -73.81458712818558),
 193: (193, 'Queensbridge/Ravenswood', 40.76262462728548, -73.93916036313759),
 194: (194, 'Randalls Island', 40.791774883497574, -73.92582483520528),
 196: (196, 'Rego Park', 40.726130261561885, -73.86406297480156),
 195: (195, 'Red Hook', 40.67438985163299, -74.01305989930255),
 203: (203, 'Rosedale', 40.64403102565995, -73.74495918561387),
 197: (197, 'Richmond Hill', 40.69536671604752, -73.82898878523122),
 198: (198, 'Ridgewood', 40.70723816150294, -73.90412527998174),
 199: (199, 'Rikers Island', 40.793468605930315, -73.88065061496958),
 212: (212, 'Soundview/Bruckner', 40.828048844760254, -73.86790079180156),
 213: (213, 'Soundview/Castle Hill', 40.815330863103256, -73.85039521243944),
 200: (200,
  'Riverdale/North Riverdale/Fieldston',
  40.89889715335541,
  -73.90829416667563),
 204: (204, 'Rossville/Woodrow', 40.53976939890676, -74.20890066955872),
 201: (201, 'Rockaway Park', 40.57870409771115, -73.83835869724147),
 202: (202, 'Roosevelt Island', 40.76165504134289, -73.9503348530632),
 205: (205, 'Saint Albans', 40.69278260927264, -73.76425249003815),
 206: (206,
  'Saint George/New Brighton',
  40.64053370806005,
  -74.09999428654191),
 207: (207,
  'Saint Michaels Cemetery/Woodside',
  40.76391785640731,
  -73.89751530224065),
 208: (208,
  'Schuylerville/Edgewater Park',
  40.82014337754143,
  -73.81483477354887),
 209: (209, 'Seaport', 40.70820740746826, -74.00221865308905),
 210: (210, 'Sheepshead Bay', 40.58999586337617, -73.93014114111875),
 211: (211, 'SoHo', 40.723710773216126, -74.0022265381621),
 214: (214, 'South Beach/Dongan Hills', 40.58387118444946, -74.07926919911898),
 215: (215, 'South Jamaica', 40.694639171319906, -73.79227427753327),
 216: (216, 'South Ozone Park', 40.67631360448619, -73.81724851021917),
 217: (217, 'South Williamsburg', 40.703966113166594, -73.95810172767943),
 218: (218,
  'Springfield Gardens North',
  40.67289116395691,
  -73.77291486510745),
 219: (219,
  'Springfield Gardens South',
  40.661913771451815,
  -73.77048650149032),
 225: (225, 'Stuyvesant Heights', 40.68879298051469, -73.93062425182838),
 220: (220,
  'Spuyten Duyvil/Kingsbridge',
  40.88223271815868,
  -73.91216979062193),
 224: (224,
  'Stuy Town/Peter Cooper Village',
  40.73157893242604,
  -73.97431601924153),
 226: (226, 'Sunnyside', 40.726963713303796, -73.92586288173639),
 221: (221, 'Stapleton', 40.62037742908806, -74.07217747952983),
 222: (222, 'Starrett City', 40.644761818066385, -73.88413102031876),
 223: (223, 'Steinway', 40.78206773232438, -73.89568531541613),
 227: (227, 'Sunset Park East', 40.63970186989788, -74.00716808903054),
 228: (228, 'Sunset Park West', 40.65543199489907, -74.0119985177655),
 229: (229,
  'Sutton Place/Turtle Bay North',
  40.75580651350669,
  -73.96437706283695),
 230: (230,
  'Times Sq/Theatre District',
  40.759879448266595,
  -73.9843592145666),
 231: (231, 'TriBeCa/Civic Center', 40.71875425445825, -74.00988912193608),
 239: (239, 'Upper West Side South', 40.78472935414737, -73.98334377734464),
 232: (232, 'Two Bridges/Seward Park', 40.713524629228786, -73.98303678662876),
 233: (233, 'UN/Turtle Bay South', 40.746271396361905, -73.96960786795738),
 234: (234, 'Union Sq', 40.739497075191395, -73.9901377198084),
 235: (235,
  'University Heights/Morris Heights',
  40.85405657511918,
  -73.91723403469763),
 236: (236, 'Upper East Side North', 40.7805294942399, -73.95711210107991),
 237: (237, 'Upper East Side South', 40.76872319297864, -73.96564639570205),
 238: (238, 'Upper West Side North', 40.79262539832386, -73.97425979191168),
 240: (240, 'Van Cortlandt Park', 40.89074294081878, -73.87910950172831),
 241: (241, 'Van Cortlandt Village', 40.875199611314876, -73.89609095669279),
 258: (258, 'Woodhaven', 40.68760846793323, -73.85491620647612),
 242: (242, 'Van Nest/Morris Park', 40.84851481043593, -73.84933608238389),
 245: (245, 'West Brighton', 40.632244623108186, -74.10387212454773),
 263: (263, 'Yorkville West', 40.77928072045645, -73.95011223806515),
 243: (243, 'Washington Heights North', 40.85731512666485, -73.93754775584618),
 244: (244,
  'Washington Heights South',
  40.842803473565255,
  -73.94327018262756),
 253: (253, 'Willets Point', 40.76194943388975, -73.84229521404184),
 246: (246,
  'West Chelsea/Hudson Yards',
  40.75003762506254,
  -74.00813081761055),
 247: (247, 'West Concourse', 40.830105106681216, -73.92420176534341),
 248: (248, 'West Farms/Bronx River', 40.834768332261184, -73.87383679093686),
 249: (249, 'West Village', 40.7340504187499, -74.00311004474993),
 257: (257, 'Windsor Terrace', 40.655951079822906, -73.97840152366359),
 250: (250,
  'Westchester Village/Unionport',
  40.83430036023818,
  -73.84495646754563),
 251: (251, 'Westerleigh', 40.61636260304773, -74.12602636729179),
 252: (252, 'Whitestone', 40.795093935914316, -73.8149850653229),
 254: (254, 'Williamsbridge/Olinville', 40.88243978437314, -73.85915673592244),
 255: (255,
  'Williamsburg (North Side)',
  40.71956754077945,
  -73.96167112100375),
 256: (256,
  'Williamsburg (South Side)',
  40.71069742588513,
  -73.96300891476899),
 259: (259, 'Woodlawn/Wakefield', 40.90001735150001, -73.85365754822476),
 260: (260, 'Woodside', 40.74633234407396, -73.9059381968407),
 261: (261, 'World Trade Center', 40.70752681961756, -74.01400248702936),
 262: (262, 'Yorkville East', 40.77829956313154, -73.94353518066544)}

In [11]:
zonedf=pd.DataFrame(zonedata).T
zonedf

       0                          1        2        3
1      1             Newark Airport  40.6902 -74.1742
2      2                Jamaica Bay  40.6122 -73.8176
3      3    Allerton/Pelham Gardens  40.8642 -73.8465
4      4              Alphabet City  40.7238 -73.9753
5      5              Arden Heights  40.5566   -74.19
..   ...                        ...      ...      ...
256  256  Williamsburg (South Side)  40.7107  -73.963
259  259         Woodlawn/Wakefield     40.9 -73.8537
260  260                   Woodside  40.7463 -73.9059
261  261         World Trade Center  40.7075  -74.014
262  262             Yorkville East  40.7783 -73.9435

[263 rows x 4 columns]

In [12]:
zonedf.rename(columns={0:"locid",1:"zone",2:"lat",3:"lon"},inplace=True)
zonedf

    locid                       zone      lat      lon
1       1             Newark Airport  40.6902 -74.1742
2       2                Jamaica Bay  40.6122 -73.8176
3       3    Allerton/Pelham Gardens  40.8642 -73.8465
4       4              Alphabet City  40.7238 -73.9753
5       5              Arden Heights  40.5566   -74.19
..    ...                        ...      ...      ...
256   256  Williamsburg (South Side)  40.7107  -73.963
259   259         Woodlawn/Wakefield     40.9 -73.8537
260   260                   Woodside  40.7463 -73.9059
261   261         World Trade Center  40.7075  -74.014
262   262             Yorkville East  40.7783 -73.9435

[263 rows x 4 columns]

In [13]:
pkjoindata=filterdata.merge(zonedf,left_on="PULocationID",right_on="locid")
pkjoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,congestion_surcharge,LocationID,Borough,Zone,service_zone,prideroute,locid,zone,lat,lon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
1,2,2019-06-22 00:00:16,2019-06-22 00:42:16,1,10.68,1,N,231,39,1,...,0.0,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
2,1,2019-06-22 00:25:43,2019-06-22 00:38:53,1,2.60,1,N,231,107,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
3,1,2019-06-22 00:46:18,2019-06-22 01:03:02,2,3.90,1,N,231,80,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
4,2,2019-06-22 00:04:09,2019-06-22 00:22:49,2,4.52,1,N,231,112,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635853,2,2019-06-30 23:04:47,2019-07-01 22:24:37,2,4.85,1,N,24,243,2,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681
635854,2,2019-06-30 23:03:57,2019-06-30 23:19:08,1,3.04,1,N,24,236,2,...,2.5,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681
635855,1,2019-06-30 23:03:26,2019-06-30 23:03:47,1,0.00,5,N,24,24,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681
635856,2,2019-06-30 23:06:41,2019-06-30 23:12:37,1,1.03,1,N,24,41,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681
635857,2,2019-06-30 23:02:55,2019-06-30 23:12:27,1,1.92,1,N,24,42,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681

In [14]:
pkjoindata.rename(columns={"zone":"pkzone","lat":"pklat","lon":"pklon"},inplace=True)
pkjoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,congestion_surcharge,LocationID,Borough,Zone,service_zone,prideroute,locid,pkzone,pklat,pklon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
1,2,2019-06-22 00:00:16,2019-06-22 00:42:16,1,10.68,1,N,231,39,1,...,0.0,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
2,1,2019-06-22 00:25:43,2019-06-22 00:38:53,1,2.60,1,N,231,107,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
3,1,2019-06-22 00:46:18,2019-06-22 01:03:02,2,3.90,1,N,231,80,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
4,2,2019-06-22 00:04:09,2019-06-22 00:22:49,2,4.52,1,N,231,112,2,...,2.5,231,Manhattan,TriBeCa/Civic Center,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635853,2,2019-06-30 23:04:47,2019-07-01 22:24:37,2,4.85,1,N,24,243,2,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681
635854,2,2019-06-30 23:03:57,2019-06-30 23:19:08,1,3.04,1,N,24,236,2,...,2.5,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681
635855,1,2019-06-30 23:03:26,2019-06-30 23:03:47,1,0.00,5,N,24,24,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681
635856,2,2019-06-30 23:06:41,2019-06-30 23:12:37,1,1.03,1,N,24,41,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681
635857,2,2019-06-30 23:02:55,2019-06-30 23:12:27,1,1.92,1,N,24,42,1,...,0.0,24,Manhattan,Bloomingdale,Yellow Zone,Y,24,Bloomingdale,40.8031,-73.9681

In [15]:
dojoindata=pkjoindata.merge(zonedf,left_on="DOLocationID",right_on="locid")
dojoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,zone,lat,lon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
1,2,2019-06-22 00:14:36,2019-06-22 00:36:08,5,3.39,1,N,231,161,2,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
2,2,2019-06-22 03:06:17,2019-06-22 03:20:26,2,6.18,1,N,231,161,2,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
3,1,2019-06-22 06:48:30,2019-06-22 06:56:51,1,3.70,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
4,2,2019-06-22 07:01:28,2019-06-22 07:11:04,1,3.57,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633777,2,2019-06-30 22:52:36,2019-06-30 23:38:32,1,15.29,1,N,90,184,1,...,Yellow Zone,Y,90,Flatiron,40.7425,-73.9968,184,Pelham Bay Park,40.8622,-73.7965
633778,2,2019-06-28 22:46:47,2019-06-28 23:43:13,2,20.58,1,N,186,176,1,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,40.7489,-73.9921,176,Oakwood,40.5645,-74.1214
633779,1,2019-06-22 03:33:40,2019-06-22 04:20:36,1,18.20,1,N,246,176,1,...,Yellow Zone,Y,246,West Chelsea/Hudson Yards,40.75,-74.0081,176,Oakwood,40.5645,-74.1214
633780,2,2019-06-26 21:44:47,2019-06-26 22:38:42,2,17.57,1,N,87,176,1,...,Yellow Zone,Y,87,Financial District North,40.7046,-74.0056,176,Oakwood,40.5645,-74.1214
633781,2,2019-06-28 07:36:58,2019-06-28 08:01:31,1,2.38,1,N,90,2,1,...,Yellow Zone,Y,90,Flatiron,40.7425,-73.9968,2,Jamaica Bay,40.6122,-73.8176

In [16]:
dojoindata.rename(columns={"zone":"dozone","lat":"dolat","lon":"dolon"},inplace=True)
dojoindata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
0,2,2019-06-24 10:41:22,2019-06-24 10:56:33,1,3.04,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
1,2,2019-06-22 00:14:36,2019-06-22 00:36:08,5,3.39,1,N,231,161,2,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
2,2,2019-06-22 03:06:17,2019-06-22 03:20:26,2,6.18,1,N,231,161,2,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
3,1,2019-06-22 06:48:30,2019-06-22 06:56:51,1,3.70,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
4,2,2019-06-22 07:01:28,2019-06-22 07:11:04,1,3.57,1,N,231,161,1,...,Yellow Zone,Y,231,TriBeCa/Civic Center,40.7188,-74.0099,161,Midtown Center,40.7579,-73.9775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633777,2,2019-06-30 22:52:36,2019-06-30 23:38:32,1,15.29,1,N,90,184,1,...,Yellow Zone,Y,90,Flatiron,40.7425,-73.9968,184,Pelham Bay Park,40.8622,-73.7965
633778,2,2019-06-28 22:46:47,2019-06-28 23:43:13,2,20.58,1,N,186,176,1,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,40.7489,-73.9921,176,Oakwood,40.5645,-74.1214
633779,1,2019-06-22 03:33:40,2019-06-22 04:20:36,1,18.20,1,N,246,176,1,...,Yellow Zone,Y,246,West Chelsea/Hudson Yards,40.75,-74.0081,176,Oakwood,40.5645,-74.1214
633780,2,2019-06-26 21:44:47,2019-06-26 22:38:42,2,17.57,1,N,87,176,1,...,Yellow Zone,Y,87,Financial District North,40.7046,-74.0056,176,Oakwood,40.5645,-74.1214
633781,2,2019-06-28 07:36:58,2019-06-28 08:01:31,1,2.38,1,N,90,2,1,...,Yellow Zone,Y,90,Flatiron,40.7425,-73.9968,2,Jamaica Bay,40.6122,-73.8176

In [17]:
pridedata=dojoindata[(pd.to_datetime(dojoindata["tpep_pickup_datetime"])>"2019-06-30 16:00:00")&(pd.to_datetime(dojoindata["tpep_pickup_datetime"])<"2019-06-30 18:00:00")]

In [18]:
pridedata.sort_values(by=["tpep_pickup_datetime"],inplace=True)
pridedata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
129970,2,2019-06-30 16:00:04,2019-06-30 16:05:15,6,0.80,1,N,137,162,2,...,Yellow Zone,Y,137,Kips Bay,40.7379,-73.9738,162,Midtown East,40.7566,-73.9727
49673,2,2019-06-30 16:00:04,2019-06-30 16:10:36,2,1.37,1,N,186,50,1,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,40.7489,-73.9921,50,Clinton West,40.7678,-73.9975
391614,1,2019-06-30 16:00:04,2019-06-30 16:14:11,3,2.20,1,N,113,13,2,...,Yellow Zone,Y,113,Greenwich Village North,40.7322,-73.9944,13,Battery Park City,40.7093,-74.0174
101990,2,2019-06-30 16:00:08,2019-06-30 16:08:36,1,0.57,1,N,107,113,2,...,Yellow Zone,Y,107,Gramercy,40.7369,-73.9843,113,Greenwich Village North,40.7322,-73.9944
581571,2,2019-06-30 16:00:11,2019-06-30 16:05:30,3,1.42,1,N,87,261,1,...,Yellow Zone,Y,87,Financial District North,40.7046,-74.0056,261,World Trade Center,40.7075,-74.014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282799,1,2019-06-30 17:59:47,2019-06-30 18:35:14,2,7.30,1,N,79,41,1,...,Yellow Zone,Y,79,East Village,40.7269,-73.9866,41,Central Harlem,40.8032,-73.9507
300004,1,2019-06-30 17:59:51,2019-06-30 18:11:34,2,1.10,1,N,114,125,2,...,Yellow Zone,Y,114,Greenwich Village South,40.7278,-73.9972,125,Hudson Sq,40.7257,-74.0091
491635,2,2019-06-30 17:59:53,2019-06-30 18:17:38,1,2.52,1,N,100,239,2,...,Yellow Zone,Y,100,Garment District,40.7536,-73.9888,239,Upper West Side South,40.7847,-73.9833
71889,1,2019-06-30 17:59:53,2019-06-30 18:12:34,2,1.20,1,N,4,211,2,...,Yellow Zone,Y,4,Alphabet City,40.7238,-73.9753,211,SoHo,40.7237,-74.0022
28156,2,2019-06-30 17:59:54,2019-06-30 18:08:49,1,0.80,1,N,107,107,1,...,Yellow Zone,Y,107,Gramercy,40.7369,-73.9843,107,Gramercy,40.7369,-73.9843

In [19]:
priorwkdata=dojoindata[(pd.to_datetime(dojoindata["tpep_pickup_datetime"])>"2019-06-23 16:00:00")&(pd.to_datetime(dojoindata["tpep_pickup_datetime"])<"2019-06-23 18:00:00")]
priorwkdata.sort_values(by=["tpep_pickup_datetime"],inplace=True)
priorwkdata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
37711,1,2019-06-23 16:00:02,2019-06-23 16:11:01,1,1.40,1,N,137,107,1,...,Yellow Zone,Y,137,Kips Bay,40.7379,-73.9738,107,Gramercy,40.7369,-73.9843
71605,1,2019-06-23 16:00:02,2019-06-23 16:10:51,2,1.50,1,N,87,211,1,...,Yellow Zone,Y,87,Financial District North,40.7046,-74.0056,211,SoHo,40.7237,-74.0022
505293,1,2019-06-23 16:00:03,2019-06-23 16:02:14,1,0.40,1,N,186,164,1,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,40.7489,-73.9921,164,Midtown South,40.7488,-73.9848
140024,1,2019-06-23 16:00:04,2019-06-23 16:03:47,1,0.70,1,N,234,186,2,...,Yellow Zone,Y,234,Union Sq,40.7395,-73.9901,186,Penn Station/Madison Sq West,40.7489,-73.9921
208766,2,2019-06-23 16:00:04,2019-06-23 16:09:40,1,1.83,1,N,125,234,2,...,Yellow Zone,Y,125,Hudson Sq,40.7257,-74.0091,234,Union Sq,40.7395,-73.9901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64419,1,2019-06-23 17:59:54,2019-06-23 18:00:05,1,16.10,5,N,211,211,1,...,Yellow Zone,Y,211,SoHo,40.7237,-74.0022,211,SoHo,40.7237,-74.0022
221475,2,2019-06-23 17:59:55,2019-06-23 18:15:20,2,2.00,1,N,158,148,2,...,Yellow Zone,Y,158,Meatpacking/West Village West,40.7368,-74.0105,148,Lower East Side,40.7182,-73.9914
604607,1,2019-06-23 17:59:56,2019-06-23 18:15:22,1,2.20,1,N,158,100,1,...,Yellow Zone,Y,158,Meatpacking/West Village West,40.7368,-74.0105,100,Garment District,40.7536,-73.9888
106183,2,2019-06-23 17:59:56,2019-06-23 18:07:28,2,1.33,1,N,186,113,2,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,40.7489,-73.9921,113,Greenwich Village North,40.7322,-73.9944
205951,2,2019-06-23 17:59:58,2019-06-23 18:07:14,1,1.20,1,N,113,234,1,...,Yellow Zone,Y,113,Greenwich Village North,40.7322,-73.9944,234,Union Sq,40.7395,-73.9901

In [20]:
# Create Engine
engine = create_engine("sqlite:///trip.db", pool_pre_ping=True)

In [21]:
pridedata.to_sql('pridedata', con=engine, if_exists='replace')

In [22]:
test=pd.read_sql("SELECT * FROM pridedata",engine)

In [23]:
test

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
0,129970,2,2019-06-30 16:00:04,2019-06-30 16:05:15,6,0.80,1,N,137,162,...,Yellow Zone,Y,137,Kips Bay,40.737860,-73.973838,162,Midtown East,40.756573,-73.972685
1,49673,2,2019-06-30 16:00:04,2019-06-30 16:10:36,2,1.37,1,N,186,50,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,40.748872,-73.992093,50,Clinton West,40.767768,-73.997484
2,391614,1,2019-06-30 16:00:04,2019-06-30 16:14:11,3,2.20,1,N,113,13,...,Yellow Zone,Y,113,Greenwich Village North,40.732156,-73.994365,13,Battery Park City,40.709340,-74.017366
3,101990,2,2019-06-30 16:00:08,2019-06-30 16:08:36,1,0.57,1,N,107,113,...,Yellow Zone,Y,107,Gramercy,40.736902,-73.984339,113,Greenwich Village North,40.732156,-73.994365
4,581571,2,2019-06-30 16:00:11,2019-06-30 16:05:30,3,1.42,1,N,87,261,...,Yellow Zone,Y,87,Financial District North,40.704606,-74.005571,261,World Trade Center,40.707527,-74.014002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3927,282799,1,2019-06-30 17:59:47,2019-06-30 18:35:14,2,7.30,1,N,79,41,...,Yellow Zone,Y,79,East Village,40.726942,-73.986582,41,Central Harlem,40.803170,-73.950658
3928,300004,1,2019-06-30 17:59:51,2019-06-30 18:11:34,2,1.10,1,N,114,125,...,Yellow Zone,Y,114,Greenwich Village South,40.727806,-73.997183,125,Hudson Sq,40.725680,-74.009110
3929,491635,2,2019-06-30 17:59:53,2019-06-30 18:17:38,1,2.52,1,N,100,239,...,Yellow Zone,Y,100,Garment District,40.753642,-73.988840,239,Upper West Side South,40.784729,-73.983344
3930,71889,1,2019-06-30 17:59:53,2019-06-30 18:12:34,2,1.20,1,N,4,211,...,Yellow Zone,Y,4,Alphabet City,40.723807,-73.975289,211,SoHo,40.723711,-74.002227
3931,28156,2,2019-06-30 17:59:54,2019-06-30 18:08:49,1,0.80,1,N,107,107,...,Yellow Zone,Y,107,Gramercy,40.736902,-73.984339,107,Gramercy,40.736902,-73.984339

In [24]:
priorwkdata.to_sql('priorwkdata', con=engine, if_exists='replace')

In [25]:
test2=pd.read_sql("SELECT * FROM priorwkdata",engine)

In [26]:
test2

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,service_zone,prideroute,locid_x,pkzone,pklat,pklon,locid_y,dozone,dolat,dolon
0,37711,1,2019-06-23 16:00:02,2019-06-23 16:11:01,1,1.40,1,N,137,107,...,Yellow Zone,Y,137,Kips Bay,40.737860,-73.973838,107,Gramercy,40.736902,-73.984339
1,71605,1,2019-06-23 16:00:02,2019-06-23 16:10:51,2,1.50,1,N,87,211,...,Yellow Zone,Y,87,Financial District North,40.704606,-74.005571,211,SoHo,40.723711,-74.002227
2,505293,1,2019-06-23 16:00:03,2019-06-23 16:02:14,1,0.40,1,N,186,164,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,40.748872,-73.992093,164,Midtown South,40.748767,-73.984805
3,140024,1,2019-06-23 16:00:04,2019-06-23 16:03:47,1,0.70,1,N,234,186,...,Yellow Zone,Y,234,Union Sq,40.739497,-73.990138,186,Penn Station/Madison Sq West,40.748872,-73.992093
4,208766,2,2019-06-23 16:00:04,2019-06-23 16:09:40,1,1.83,1,N,125,234,...,Yellow Zone,Y,125,Hudson Sq,40.725680,-74.009110,234,Union Sq,40.739497,-73.990138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7297,64419,1,2019-06-23 17:59:54,2019-06-23 18:00:05,1,16.10,5,N,211,211,...,Yellow Zone,Y,211,SoHo,40.723711,-74.002227,211,SoHo,40.723711,-74.002227
7298,221475,2,2019-06-23 17:59:55,2019-06-23 18:15:20,2,2.00,1,N,158,148,...,Yellow Zone,Y,158,Meatpacking/West Village West,40.736836,-74.010518,148,Lower East Side,40.718209,-73.991417
7299,604607,1,2019-06-23 17:59:56,2019-06-23 18:15:22,1,2.20,1,N,158,100,...,Yellow Zone,Y,158,Meatpacking/West Village West,40.736836,-74.010518,100,Garment District,40.753642,-73.988840
7300,106183,2,2019-06-23 17:59:56,2019-06-23 18:07:28,2,1.33,1,N,186,113,...,Yellow Zone,Y,186,Penn Station/Madison Sq West,40.748872,-73.992093,113,Greenwich Village North,40.732156,-73.994365
7301,205951,2,2019-06-23 17:59:58,2019-06-23 18:07:14,1,1.20,1,N,113,234,...,Yellow Zone,Y,113,Greenwich Village North,40.732156,-73.994365,234,Union Sq,40.739497,-73.990138